<div class="AfterCodeOfConductFieldDescription">
	A code of conduct sets standards for how people should behave at an event and includes details of how to report
	problems. Many tech events use them to make everyone feel welcome and safe.
	If your event has one, you can add text or a web page address (URL) here.
	You can <a href="http://www.ashedryden.com/blog/codes-of-conduct-101-faq" target="_blank" rel="noopener">read more about them here (opens in a new window)</a>.
</div>
