<div id="footer">
	<div class="contentMain">
		<div id="footerCredits">
			<a href="http://jmbtechnology.co.uk/">&copy; JMB Technology Limited 2012 - 2019</a>
		</div>
		<div id="afterFooter"></div>
	</div>
</div>

