{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
{% extends 'site/pageMinimal.html.twig' %}

{% block content %}
	<div class="contentMain">
		Sorry, this site has been closed by {{ config.installTitle }} administrators.
		{{ currentSite.closedBySysAdminReason }}
	</div>
{% endblock %}
