{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Goodbye - {% endblock %}

{% block content %}

	<div class="contentMain">

		<h2>You have been logged out.</h2>

		<p>If you liked us, <a href="https://twitter.com/intent/tweet?text=.%20%40OpenTechCal%20is%20great%21%20Free%20and%20Open%20Data%20listing%20of%20tech%20events.%20Check%20out%20https%3A%2F%2Fopentechcalendar.co.uk%2F">please tell a friend!</a></p>

		<p>If you didn't, <a href="/contact">please tell us! Feedback helps us improve</a>.</p>

	</div>

{% endblock %}
