{% extends 'index/page.html.twig' %}

{% block pageTitle %}About - {% endblock %} 

{% block htmlHeader %}
	<link rel="canonical" href="{{ config.getWebIndexDomainSecure }}/about" />
{% endblock %}

{% block content %}

	<div class="contentMain">

		<h3>About</h3>

		<p>Welcome to Furdar, a user-editable calendar of the local furry meet-ups.<p>

		<h3>Our Mission</h3>

		<p>We help people find great furry events near them.</p>

		<p>We also help the furry community work together for everyone's benefit.</p>

		<p>We provide a platform of Open Data to make the data more useful and for others to build on.</p>

		<p>We are a directory of furry events - we don't try to "take over" an events presence online but instead happily have prominent links to an events own home page and ticketing provider, where ever that may be.</p>

		<h3>Open? How does this work?</h3>

		<p>We are "Open" in the sense that we invite anyone from the community to add and edit events
		for any furry event group. You can do this through our easy web interface. You don't have to be the event organiser to do so. All edits and deletes are versioned to ensure safety, like a wiki.</p>

		<p>We are also "Open" as in Open Data; there are feeds and an API so exporting the
		data into the system of your choice should be easy. Our data is displayed on other websites, we post regular updates of upcoming events into Facebook and Slack groups, and have a WordPress plugin to display events on your site.</p>

		<p>(We can also import other sources of Open Data - we are trying to encourage good Open Data practices in the community!)</p>

		<h3>History</h3>

		<p>Furdar was started in July 2021 after similar calendars like Furmeets UK and the UKFurs Calendar had shut down or fell into disuse. This left something of a gap, in that it could take a lot of searching to find one's local furmeet group or convention.

		<p>Furdar runs on the Open Tech Calendar software stack, with some minor changes to make it compatible with later versions of PHP.


		<h3>Our Open Source Software</h3>

		<p>The <a href="https://gitlab.com/opentechcalendar">software is Open Source - please help us develop it!</a>.</p>


		<h3>The People</h3>

		<p>Furdar is operated by <a href="https://twitter.com/FurdarEvents">the Furdar team</a> as a free service to the furry community. It is based on the Open Tech Calendar which was created and run by <a href="https://www.jamesbaster.co.uk/">James Baster</a>, and later run by Sheffield Digital. Furdar has no relationship to James or Sheffield Digital, except that we like their software!</p>

		<h3>I want more! Any Questions?</h3>

		<p>Any questions, please <a href="/contact/">get in touch</a>.</p>

	</div>

{% endblock %}
