{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}

<h3>Where is the event?</h3>

<form action="" class="styled" method="POST">
	<input type="hidden" name="action" value="setvenue">
	<div class="bigSubmitActionWrapper"><input type="submit" value="I know the Venue" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>

<form action="" class="styled" method="POST">
	<input type="hidden" name="action" value="setarea">
	<div class="bigSubmitActionWrapper"><input type="submit" value="Exact Venue Not Known" class="bigSubmitAction"/></div>
	<div class="afterBigSubmitActionWrapper"></div>
</form>

