
{% extends 'email/email.html.twig' %}

{% block content %}

    <p>Hello {{ user.displayname }}</p>

    <p>We are writing to you because you hold a user account at Open Tech Calendar.</p>

    <p style="font-weight: bold;">This is to give you notice that the calendar will in the future be run by Sheffield Digital as an Open Data and Open Source community project.</p>

    <p><a href="https://blog.opentechcalendar.co.uk/2019/11/04/sheffield-digital-will-run-the-calendar/">For more on why this is happening, and Sheffield Digital’s plans for the future, please read our blog.</a></p>

    <p>We are updating our terms and conditions to make it clear your account will be passed to Sheffield Digital. If you are happy with this, there is nothing you need to do.</p>

    <p style="font-weight: bold;">Sheffield Digital is a not for profit organisation and has no intention to monetise or treat your data any differently to the way it has been treated in the past,
        but if you would prefer your user account to be deleted rather than transferred to the new owners, simply:</p>

    <ul>
        <li><a href="https://opentechcalendar.co.uk/you/login">Log in to your user account on Open Tech Calendar.</a></li>
        <li>Go to the contact form - you’ll find a link in the footer of any page.</li>
        <li>Send us a polite message. (By logging in, you prove the message came from you)</li>
    </ul>

    <p>There will be a 2 week notice period (up to Tue 19th November) before any changes.
        It may take some time to respond to your request but we promise any requests made during the 2 weeks will
        be carried out before the transfer.</p>

    <p><a href="https://opentechcalendar.co.uk/contact">If you have any other questions, please get in touch.</a></p>

    <p>In a few weeks, you’ll get a welcome email from Sheffield Digital. We hope you can continue to play a part in the
        community in the future.</p>

    <p>Thanks for your support over the years;<br>
        Open Tech Calendar</p>

{% endblock %}
