ul.gistContent li {
  padding: 10px 0;
  margin: 5px 5px;
}
ul.gistContent li.title {
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.25em;
}
ul.gistContent li.event div.dateTimeIcon {
  float: left;
  width: 60px;
  height: 80px;
  position: relative;
  z-index: 100;
  margin: 0 10px 10px 0;
  border: 2px solid #231f20;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
ul.gistContent li.event div.dateTimeIcon div.dateIcon {
  width: 60px;
  height: 60px;
  text-align: center;
  background: #231f20;
}
ul.gistContent li.event div.dateTimeIcon div.timeIcon {
  padding: 1px;
  text-align: center;
}
ul.gistContent li.event div.dateTimeIcon span.deleted,
ul.gistContent li.event div.dateTimeIcon span.cancelled {
  padding-top: 5px;
  display: block;
  color: white;
}
ul.gistContent li.event div.dateTimeIcon span.startDay {
  font-weight: 200;
  padding-top: 5px;
  display: block;
  color: white;
}
ul.gistContent li.event div.dateTimeIcon span.startDate {
  font-size: 16pt;
  font-weight: 400;
  display: block;
  color: white;
}
ul.gistContent li.event div.dateTimeIcon span.startMonthYear {
  font-weight: 200;
  display: block;
  font-size: 0.75em;
  color: white;
}
ul.gistContent li.event div.dateTimeIcon span.startTime {
  font-size: 11pt;
  color: black;
}
ul.gistContent li.event div.dateTimeIcon a {
  text-decoration: none;
}
ul.gistContent li.event div.dateTimeIcon a span.startDay {
  color: white;
}
ul.gistContent li.event div.dateTimeIcon a span.startDate {
  color: white;
}
ul.gistContent li.event div.dateTimeIcon a span.startMonthYear {
  color: white;
}
ul.gistContent li.event div.dateTimeIcon a span.startTime {
  color: black;
}
ul.gistContent li.event div.title {
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.25em;
  padding: 2px 0 10px 70px;
  position: relative;
  top: -5px;
}
ul.gistContent li.event div.title a {
  color: #333;
  text-decoration: none;
}
ul.gistContent li.event div.title a:hover,
ul.gistContent li.event div.title a:focus {
  color: black;
  text-decoration: underline;
}
ul.gistContent li.event .descriptionDeleted,
ul.gistContent li.event .descriptionCancelled {
  font-style: italic;
  font-weight: bold;
  font-size: 24pt;
  text-align: center;
  padding: 10px 0;
}
ul.gistContent li.event p.description {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
}
ul.gistContent li.event div.afterEventListing {
  clear: both;
}
@media screen and (min-width: 750px) {
  ul.gistContent li {
    margin: 5px 50px;
  }
}
