{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
{% extends 'index/page.html.twig' %}

{% block pageTitle %}Verified - {% endblock %} 

{% block content %}

	<div class="contentMain">

		<p>Thank you. Your email is now verified.</p>

		<p>You can now <a href="/">work with existing calendars</a> or <a href="/create">make your own calendar</a>.</p>

	</div>

{% endblock %}
