{#
 # @link https://opentechcalendar.co.uk/ This is the software for Open Tech Calendar!
 # @link https://gitlab.com/opentechcalendar You will find it's source here!
 # @license https://gitlab.com/opentechcalendar/opentechcalendar/blob/master/LICENSE.txt 3-clause BSD
 # @copyright (c) JMB Technology Limited, https://www.jmbtechnology.co.uk/
 #}
<div style="padding: 10px 0 10px 0;">
	<a href="{{ link }}" style="padding: 5px 20px 5px 20px; background:  {{  themeVariables.colourLighter2 }}; border-radius: 3px; border: 2px solid {{ themeVariables.colourDarker2 }}; color: black;">{{  text }}</a>
</div>
